html,body{
    width: 100%;
    min-height: 100%;
}

.body {
    width: 100%;
    min-height: 100%;
    background-image: url('background.png');
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

/* head contents */

.head-contents {
    text-align: center;
    height: 300px;
    width: 100%;
    background: linear-gradient( to bottom, #a98ec5, #6691e4);
    border-radius: 0 0 20px 20px;
}

.search-input {
    background-color: white;
    border-radius: 9px;
    border: #6691e4;
    height: 40px;
    width: 640px;
    margin:100px 0 20px 500px;
    display: inline-block;
}

.search {
    margin-top: 5px;
    width: 600px;
    height: 30px;
    border: 0px;
}

.content-detail {
    background-color: white;
    width: 640px;
    height: auto;
    border-radius: 10px;
    border: #6691e4 1px;
    margin:0 0 20px 500px;
    display: inline-block;
}

.content-detail-text {
    margin: 10px;
}